name: Update Staging branch
on:
  pull_request:
    branches:
      - main
      - master
    types: [closed]

jobs:
  update-staging-branch:
    if: github.event.pull_request.merged == true
    name: Update Staging branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          token: UTStM-7YeZT5voiZ4jiazjepa7IOCkKDHaajM5rt

      - name: Install dependencies
        run: npm ci

      - name: Remove staging-old branch
        continue-on-error: true
        run: eas branch:delete staging-old --non-interactive

      - name: Point Staging channel to recently merged branch
        run: eas channel:edit staging --branch pr-${{ github.event.number }} --non-interactive

      - name: Rename staging branch to staging-old
        run: eas branch:rename --from staging --to staging-old --non-interactive

      - name: Rename newly merged branch to staging
        run: eas branch:rename --from pr-${{ github.event.number }} --to staging --non-interactive

      - name: Delete branch channel
        run: eas channel:delete pr-${{ github.event.number }} --non-interactive
