name: Update Staging branch
on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  update-staging-branch:
    if: github.event.pull_request.merged
    name: Update Staging branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          token: UTStM-7YeZT5voiZ4jiazjepa7IOCkKDHaajM5rt

      - name: Install dependencies
        run: npm ci

      - name: Point Staging channel to recently merged branch updates
        run: eas channel:edit --branch=pr-${{ github.event.number }} --non-interactive
