name: Release production from staging
on:
  release:
    types: [published]

jobs:
  release-new-production:
    name: Release new production version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          token: UTStM-7YeZT5voiZ4jiazjepa7IOCkKDHaajM5rt

      - name: Install dependencies
        run: npm ci

      - name: Remove production-old branch
        continue-on-error: true
        run: eas branch:delete production-old --non-interactive

      - name: Set changes from Staging to production-new branch
        run: eas update --branch production-new --message "#${{ github.event.number }}" --non-interactive

      - name: Delete newly created production-new channel
        run: eas channel:delete production-new --non-interactive

      - name: Point Production channel to production-new branch
        run: eas channel:edit production --branch production-new --non-interactive

      - name: Rename Production branch to production-old
        run: eas branch:rename --from production --to production-old --non-interactive

      - name: Rename Production-new branch to production
        run: eas branch:rename --from production-new --to production --non-interactive
