name: Update expo branch
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          token: UTStM-7YeZT5voiZ4jiazjepa7IOCkKDHaajM5rt

      - name: Install dependencies
        run: npm ci

      - name: Publish update
        run: eas update --branch pr-${{ github.event.number }} --message "#${{ github.event.number }}" --non-interactive

      - name: Delete newly created channel
        if: github.event.action == 'opened' || github.event.action == 'reopened'
        run: eas channel:delete pr-${{ github.event.number }} --non-interactive
